@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  font-family: 'Gaegu', cursive;
font-family: 'Noto Sans KR', sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    /* font-family */
  }



  .layout {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    /* position: fixed;
      overflow: hidden; */
  }
  .title{
    text-align: center;
  }
.title-str1 {
    font-size: 40px;
    margin-left: 2%;
    left: 0;
    position: relative;
    animation: slide-str 1s;
}

.title-str2 {
    font-size: 70px;
    margin-left: 2%;
    right: 0;
    position: relative;
    animation: slide-str2 1s;
}

.textbox{
    margin-left: 3%;
    text-align: center;
    font-size: 25px;
}

@keyframes slide-str {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes slide-str2 {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}


/* 토글 */
nav {
    width: 100%;
  }

  ul {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  /*  리스트 간 간격 좀 더 늘렸습니다 */
  ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
  }


  ul li a {
  /* 색상은 각자 페이지에 맞게 자유로이 */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }

  .toggle {
    width: 100%;
    padding: 20px 30px;
    text-align: right;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 32px;
    display: none;
    font-family: 'Gaegu', cursive;
font-family: 'Noto Sans KR', sans-serif;
  }

  /*  웹 로고 + 서비스 명 스타일 추가*/
  .web-name{
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  nav span:first-child {
    margin-left: 5%;
  }

  nav span{
    float: left;
  }


  nav span img{
    width: 100px;
    padding: 10px;
  }

  @media (min-width:220px) and (max-width:990px) {
    .toggle{
        display: block;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
  }